.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100%;
  max-width: 375px;
  background: var(--color-white);
}

.main {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 40px 24px;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-blue-700);
  margin-bottom: 1rem;
}
.description {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-blue-800);
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.list {
  list-style: none;
  padding: 0;
  margin-bottom: 2.5rem;
}

.list li {
  display: flex;
  align-items: flex-start;
  font-size: 1rem;
  gap: 1rem;
  font-weight: 400;
  color: var(--color-blue-800);
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

.icon {
  color: var(--color-primary-red);
  margin-right: 0.75rem;
  vertical-align: middle;
  width: 1.3rem;
  height: 1.53rem;
  font-size: 1.3rem;
  flex-shrink: 0;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.5;
  color: var(--color-blue-800);
  margin-bottom: 0.5rem;
}

.input {
  width: 100%;
  height: 3.5rem;
  padding: 1rem 1.5rem;
  border: 1px solid var(--color-grey);
  border-radius: 0.5rem;
  background-color: var(--color-white);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}
.inputError {
  border-color: var(--color-primary-red);
  background-color: #ffeaea;
}

.button {
  width: 100%;
  height: 3.5rem;
  padding: 1rem 1.5rem;
  background-color: var(--color-blue-800);
  color: var(--color-white);
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  line-height: 1.5;
}

/* {Submit Success} */
.successMessage {
  padding: 9.313rem 1.5rem 4.375rem 1.5rem; /* mobile: 149px 24px 70px 24px */
  text-align: center;
}

@media (min-width: 768px) {
  .page {
    max-width: 608px;
    border-radius: 2rem;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.08);
    padding: 2.5rem;
  }

  .main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .image {
    width: 528px !important;
    height: auto !important;
    border-radius: 1rem;
  }

  .content {
    padding: 0;
    width: 100%;
  }

  .title {
    font-size: 2.25rem;
  }

  .description {
    font-size: 1.125rem;
  }

  .list li {
    font-size: 1.125rem;
  }

  .form {
    gap: 1rem;
  }
  .input {
    margin-bottom: 1rem;
  }
  .successMessage {
    padding: 12rem 3rem 6rem 3rem; /* example for tablet, adjust as needed */
  }
}

@media (min-width: 1440px) {
  .page {
    max-width: 904px;
    border-radius: 2rem;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.08);
    padding: 2rem;
  }

  .main {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    gap: 2rem;
  }
  .imageContainer {
    order: 2;
  }
  .image {
    width: 400px !important;
    height: 593px !important;
    flex-shrink: 0;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
  }

  .content {
    order: 1;
    padding: 0;
    /* width: 100%; */
  }

  .title {
    font-size: 2.25rem;
  }

  .description {
    font-size: 1.125rem;
  }

  .list li {
    font-size: 1.125rem;
  }

  .form {
    gap: 1rem;
  }
  .input {
    margin-bottom: 1rem;
  }
  .button:hover {
    background: linear-gradient(90deg, #ff6a3a 0%, #ff527b 100%);
  }
  .successMessage {
    padding: 14rem 6rem 8rem 6rem; /* example for desktop, adjust as needed */
  }
}
